* {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  margin: 100px auto;
  width: 800px;
  border: 5px solid black;
  position: relative;
}

=======
  box-sizing: border-box;
}

>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
body {
  font-size: 16px;
  color: #1e1e1e;
  line-height: 1.5;
<<<<<<< HEAD
=======
}

article {
  width: 800px;
  margin: 30px auto;
  border: 5px solid black;
  position: relative;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
}

.product-title {
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #efefef;
<<<<<<< HEAD
  width: 100%;
=======
  padding: 12px 0;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
}

.price {
  color: black;
  font-size: 18px;
  font-weight: bold;
  float: left;
}

.shipping {
  color: #5c5c5c;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  float: right;
  margin-top: 3px;
}

.description {
  margin-bottom: 7px;
  clear: both;
}

.shipping::after {
  content: "SALE";
  padding: 4px 8px;
  background-color: red;
  color: white;
  letter-spacing: 2px;
  position: absolute;
  top: -15px;
  left: -30px;
}

.more-info {
  text-decoration: underline;
  display: inline-block;
<<<<<<< HEAD
  margin-bottom: 30px;
=======
  margin-bottom: 20px;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
}

.details {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

ul li {
  margin-left: 20px;
}

li:last-child {
  margin-bottom: 10px;
}

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  color: black;
  text-decoration: none;
}

ul li {
  list-style: none;
  margin-left: 15px;
}

button {
  color: white;
  font-size: 18px;
  background-color: black;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
<<<<<<< HEAD
  padding: 15px;
=======
  height: 50px;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
}

button:hover {
  color: black;
  background-color: white;
<<<<<<< HEAD
  border-top: 5px solid black;
}

/* flexbox */

.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colors {
  display: flex;
  gap: 10px;
}

.color {
  height: 20px;
  width: 20px;
}

.col-1 {
  background-color: black;
}

.col-2 {
  background-color: blue;
}

.col-3 {
  background-color: yellow;
}

.col-4 {
  background-color: green;
}

.col-5 {
  background-color: aquamarine;
}

/* CSS Grid */

article {
  display: grid;
  grid-template-columns: 280px 1fr 1fr;
  column-gap: 40px;
}

.product-title {
  grid-column: 1 / -1;
  padding: 15px;
}

button {
  grid-column: 1 / -1;
}

.price-info {
  margin-top: 30px;
}

.product-description {
  margin-top: 30px;
=======
  border: 3px solid black;
}

.sale {
  color: #fff;
  font-size: 12px;
  background-color: #ff0000;
  font-weight: bold;
  display: inline-block;
  padding: 2px 10px;
  position: absolute;
  top: -14px;
  left: -30px;
  letter-spacing: 2px;
}

.colors p {
  height: 17px;
  width: 17px;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.colors p:first-child {
  background-color: black;
}

.colors p:nth-child(2) {
  background-color: #006aff;
}

.colors p:nth-child(3) {
  background-color: #ff0000;
}

.colors p:nth-child(4) {
  background-color: #ffff00;
}

.colors p:nth-child(5) {
  background-color: #9acd32;
}

.colors p:last-child {
  background-color: #642020;
}

.product-img {
  float: left;
  margin-right: 40px;
}

.product-info {
  float: left;
  width: 235px;
  margin-right: 40px;
  padding: 10px 0px;
  margin-top: 10px;
}

.product-details {
  float: right;
  width: 235px;
  padding: 10px 0px;
  margin-top: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
}
