* {
  margin: 0;
  padding: 0;
}

.container {
<<<<<<< HEAD
  margin: 0 auto;
  width: 1200px;
  border-top: 5px solid #3ec0ec;
=======
  width: 1200px;
  margin: 0 auto;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

article {
  margin-bottom: 30px;
  position: relative;
  bottom: 0;
  right: 0;
}

.like {
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  position: absolute;
}

.main-header {
  background-color: #f7f7f7;
  padding: 15px 15px;
  margin-bottom: 35px;
}

h1::first-letter {
  font-style: normal;
<<<<<<< HEAD
=======
  margin-right: 5px;
}

nav a {
  display: inline-block;
  margin-right: 30px;
}

nav a:last-child {
  margin-right: 0;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
}

.main-title {
  font-size: 26 px;
  text-transform: uppercase;
  font-style: italic;
}

nav a:link {
  margin-right: 15px;
}

nav a:link:last-child {
  margin-right: 0;
}

.post-header h2 {
  font-size: 36px;
  font-weight: bold;
<<<<<<< HEAD
  margin-bottom: 20px;
=======
  position: relative;
  margin-bottom: 20px;
}

h2::after {
  content: "TOP";
  color: #777;
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
  position: absolute;
  top: -10px;
  right: 70px;
}

.post-header {
  margin-bottom: 30px;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
}

.author {
  font-style: italic;
  float: left;
  padding-top: 13px;
}

.post-img {
<<<<<<< HEAD
  width: 800px;
=======
  width: 100%;
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
  height: auto;
}

h3 {
  font-size: 30px;
  margin: 20px 20px;
}

h1,
h2,
h3 {
  color: #3ec0ec;
}

aside h4 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  margin-bottom: 7px;
}

ul,
ol {
  margin: 15px 30px;
}

li {
  font-size: 14px;
  margin-bottom: 7px;
}

<<<<<<< HEAD
/* li:last-child {
  margin-bottom: 0;
} */

.related-posts ul {
  list-style-type: none;
}

aside {
=======
.related-posts {
>>>>>>> 6656dcd3f6990c00b15c6b09d6dd5e99980de8a8
  background-color: #f7f7f7;
  border-top: 5px solid #3ec0ec;
  border-bottom: 5px solid #3ec0ec;
  padding: 30px 0;
  width: 500px;
}

a:link,
a:visited {
  color: #3ec0ec;
  text-decoration: none;
}

a:hover,
a:active {
  color: #1e6b84;
  font-weight: bold;
}

.copyright {
  font-size: 14px;
}

/* FLEXBOX */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-posted {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
}

.related li {
  display: flex;
  align-items: center;
}

.related img {
  margin-right: 20px;
}

.related-post p {
  font-style: italic;
}

.row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

article {
  flex-basis: 1000px;
  margin-bottom: 30px;
}

/* LEARNING FLOATS */
/* 
h1 {
  float: left;
}

nav {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 825px;
  float: left;
  /* background-color: green;
}

 .related-posts {
  width: 300px;
  float: right;
}

footer {
  /* background-color: blue; 
  clear: both;
} 
*/

/* FLEXBOX */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.author {
  padding-top: 0;
  margin-bottom: 0;
}

.author-img {
  margin-right: 15px;
}

.related-post {
  display: flex;
  align-items: center;
}

.related-author {
  margin-bottom: 0;
  font-style: italic;
}
