* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  border-top: 5px solid #3ec0ec;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 15px 30px;
  margin-bottom: 35px;
}

h1::first-letter {
  font-style: normal;
}

.main-title {
  font-size: 26 px;
  text-transform: uppercase;
  font-style: italic;
}

nav a:link {
  margin-right: 15px;
}

nav a:link:last-child {
  margin-right: 0;
}

.post-header h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.author {
  font-style: italic;
}

.post-img {
  width: 800px;
  height: auto;
}

h3 {
  font-size: 30px;
  margin: 20px 20px;
}

h1,
h2,
h3 {
  color: #3ec0ec;
}

aside h4 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  margin-bottom: 7px;
}

ul,
ol {
  margin: 15px 30px;
}

li {
  font-size: 14px;
  margin-bottom: 7px;
}

/* li:last-child {
  margin-bottom: 0;
} */

.related-posts ul {
  list-style-type: none;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #3ec0ec;
  border-bottom: 5px solid #3ec0ec;
  padding: 30px 0;
}

a:link,
a:visited {
  color: #3ec0ec;
  text-decoration: none;
}

a:hover,
a:active {
  color: #1e6b84;
  font-weight: bold;
}

.copyright {
  font-size: 14px;
}

/* FLEXBOX */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-posted {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
}

.related li {
  display: flex;
  align-items: center;
}

.related img {
  margin-right: 20px;
}

.related-post p {
  font-style: italic;
}

.row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

article {
  flex-basis: 1000px;
  margin-bottom: 30px;
}
